# Archivos relacionados con R
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
/*.Rdata/

# Archivos específicos de Windows
desktop.ini
*/desktop.ini
**/desktop.ini
*.ini
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*desktop.ini
**desktop.ini

# Archivos de proyecto de SublimeText
*.sublime-workspace

# Mercurial
/.hg/*
*/.hg/*
.hgignore

# SVN
.svn/

# Archivos de proyecto
/build/*
/tmp/*
/docs/*

# Archivos de historial
.Rhistory
.Rapp.history

# Archivos de datos de sesión
.RDataTmp

# Archivos específicos de usuario
.Ruserdata

# Código de ejemplo en el proceso de construcción del paquete
*-Ex.R

# Archivos de salida de R CMD build
/*.tar.gz

# Archivos de salida de R CMD check
/*.Rcheck/

# Archivos de RStudio
.Rproj.user/

# Vignettes producidas
vignettes/*.html
vignettes/*.pdf

# Token OAuth2, ver https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Directorios de caché predeterminados de knitr y R markdown
*_cache/
/cache/
*cache*

# Archivos temporales creados por R markdown
*.utf8.md
*.knit.md

# Variables de entorno de R
.Renviron

# Sitio de pkgdown
docs/

# Archivos temporales de traducción
po/*~

# Carpeta de RStudio Connect
rsconnect/

# Archivos de datos
*.csv
*.xlsx

#archivos de paquetes estadísticos
#
renv/*
renv.lock

# Excluir archivos específicos
_CONS_C1_df_dup.csv
_CONS_C1_df_dup
_CONS_C1_df_dup_ENE_2020.csv
'~$reunion con Maureen.xlsx'
'reunion con Maureen.xlsx'

#Excluir extensiones con datos
*.dta
*.txt
*docx
*.rar
*.zip
**.dta
**.txt
**.rar
**.zip
**.docx
**.gslides
**.gdocs
**.gsheets
**.gdoc

#claves de acceso
*ssh*
*id_rsa_*

#carpetas:
_bib/*
_outputs/*
_output/*
data/*
___prueba/*
grabaciones/*
_entrevistas/*
dedup/*
